In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import missingno as msno
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('TrainingData.csv',index_col='ID')

In [3]:
df.head()

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
ID,,,,,,,,,,
NNVBBKZB,Female,73,RG268,Other,X3,43,No,1045696,No,0
IDD62UNG,Female,30,RG277,Salaried,X1,32,No,581988,No,0
HD3DSEMC,Female,56,RG268,Self_Employed,X3,26,No,1484315,Yes,0
BF3NC7KV,Male,34,RG270,Salaried,X1,19,No,470454,No,0
TEASRWXV,Female,30,RG282,Salaried,X1,33,No,886787,No,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245725 entries, NNVBBKZB to BOCZSWLJ
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Gender               245725 non-null  object
 1   Age                  245725 non-null  int64
 2   Region_Code          245725 non-null  object
 3   Occupation           245725 non-null  object
 4   Channel_Code         245725 non-null  object
 5   Vintage              245725 non-null  int64
 6   Credit_Product       216400 non-null  object
 7   Avg_Account_Balance  245725 non-null  int64
 8   Is_Active            245725 non-null  object
 9   Is_Lead              245725 non-null  int64
dtypes: int64(4), object(6)
memory usage: 20.6+ MB

In [5]:
df.isna().sum()

Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [6]:
df.shape

(245725, 10)

In [7]:
Target=df['Is_Lead']
Data=df.drop('Is_Lead',axis=1)

In [8]:
Data['Credit_Product'].value_counts()

No     144357
Yes     72043
Name: Credit_Product, dtype: int64

In [9]:
enc=LabelEncoder()
Data['Gender']=enc.fit_transform(Data['Gender'])
Data['Region_Code']=enc.fit_transform(Data['Region_Code'])
Data['Occupation']=enc.fit_transform(Data['Occupation'])
Data['Channel_Code']=enc.fit_transform(Data['Channel_Code'])
Data['Is_Active']=enc.fit_transform(Data['Is_Active'])
Data

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
ID,,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,No,1045696,0
IDD62UNG,0,30,27,2,0,32,No,581988,0
HD3DSEMC,0,56,18,3,2,26,No,1484315,1
BF3NC7KV,1,34,20,2,0,19,No,470454,0
TEASRWXV,0,30,32,2,0,33,No,886787,0
...,...,...,...,...,...,...,...,...,...
BPAWWXZN,1,51,34,3,2,109,NaN,1925586,0
HFNB7JY8,1,27,18,2,0,15,No,862952,1
GEHAUCWT,0,26,31,2,0,13,No,670659,0
GE7V8SAH,0,28,23,2,0,31,No,407504,0
BOCZSWLJ,1,29,19,2,0,21,No,1129276,0

In [10]:
Missing_Test=Data[Data['Credit_Product'].isna()]
Missing_Test=Missing_Test.drop(['Credit_Product'],axis=1)
Missing_Test

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Avg_Account_Balance,Is_Active
ID,,,,,,,,
ETQCZFEJ,1,62,32,1,2,20,1056750,1
UJ2NJKKL,1,33,18,3,1,69,517063,1
ABPMK4WU,0,32,29,2,3,15,1072850,1
MTEIXMB9,0,41,18,3,2,62,962383,0
6WX9JDVK,0,63,4,1,2,103,1249319,1
...,...,...,...,...,...,...,...,...
WVJFPREY,0,51,31,0,2,99,552992,0
WIZBXYQZ,0,50,27,3,1,92,1385124,0
MARTXU7T,1,53,4,1,1,19,1141825,1
KSCFGXV3,0,46,18,3,1,19,993195,0
BPAWWXZN,1,51,34,3,2,109,1925586,0

In [11]:
Complete_Train=Data[~Data['Credit_Product'].isna()]

In [12]:
Complete_Train.Credit_Product=enc.fit_transform(Complete_Train.Credit_Product)
Complete_Train

C:\Users\Jarvis\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
ID,,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,0,1045696,0
IDD62UNG,0,30,27,2,0,32,0,581988,0
HD3DSEMC,0,56,18,3,2,26,0,1484315,1
BF3NC7KV,1,34,20,2,0,19,0,470454,0
TEASRWXV,0,30,32,2,0,33,0,886787,0
...,...,...,...,...,...,...,...,...,...
DQ48DATH,0,38,30,2,1,13,1,354665,0
HFNB7JY8,1,27,18,2,0,15,0,862952,1
GEHAUCWT,0,26,31,2,0,13,0,670659,0
GE7V8SAH,0,28,23,2,0,31,0,407504,0
BOCZSWLJ,1,29,19,2,0,21,0,1129276,0

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

# model evaluation

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import plot_roc_curve

In [14]:
X=Complete_Train.drop(['Credit_Product'],axis=1)
X

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Avg_Account_Balance,Is_Active
ID,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,1045696,0
IDD62UNG,0,30,27,2,0,32,581988,0
HD3DSEMC,0,56,18,3,2,26,1484315,1
BF3NC7KV,1,34,20,2,0,19,470454,0
TEASRWXV,0,30,32,2,0,33,886787,0
...,...,...,...,...,...,...,...,...
DQ48DATH,0,38,30,2,1,13,354665,0
HFNB7JY8,1,27,18,2,0,15,862952,1
GEHAUCWT,0,26,31,2,0,13,670659,0
GE7V8SAH,0,28,23,2,0,31,407504,0
BOCZSWLJ,1,29,19,2,0,21,1129276,0

In [15]:
y=Complete_Train['Credit_Product']
y

ID
NNVBBKZB    0
IDD62UNG    0
HD3DSEMC    0
BF3NC7KV    0
TEASRWXV    0
           ..
DQ48DATH    1
HFNB7JY8    0
GEHAUCWT    0
GE7V8SAH    0
BOCZSWLJ    0
Name: Credit_Product, Length: 216400, dtype: int32

In [16]:
# Split data into train and test sets
np.random.seed(42)

# split into train and test set
X_train,X_test,y_train,y_test=train_test_split(X,
                                              y,
                                              test_size=0.2)

In [17]:
# put models in a dictionary
models={"Logistic Regression": LogisticRegression(),
       "KNN": KNeighborsClassifier(),
       "Random Forest": RandomForestClassifier()
       }

# Create a function to fit and score models

def fit_and_score(models,X_train,X_test,y_train,y_test):
    """
    Fits and evaluates given machine learning models.
    models: A dictionary of different Scikit Learn machine learning models.
    X_train : training data(no labels)
    X_test : test data(no labels)
    y_train: training labels
    y_test: test labels
    """
    # set randon seed
    np.random.seed(42)
    # make a dictionary to keep models score
    model_scores={}
    
    # loop throught models
    for name,model in models.items():
        #fit the model to the data
        model.fit(X_train,y_train)
        # Evaluate the model and append its score to the model_scores
        model_scores[name]=model.score(X_test,y_test)
    return model_scores

In [18]:
model_scores=fit_and_score(models=models,
                          X_train=X_train,
                          X_test=X_test,
                          y_train=y_train,
                          y_test=y_test)
model_scores

{'Logistic Regression': 0.6694547134935305,
 'KNN': 0.6216728280961183,
 'Random Forest': 0.7077402957486136}

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
rfm=RandomForestClassifier()
rfm.fit(X_train,y_train)
y_pred=rfm.predict(X_test)
y_pred

array([1, 0, 0, ..., 1, 0, 0])

In [21]:
predicted=rfm.predict(Missing_Test)
predicted

array([0, 0, 0, ..., 0, 1, 1])

In [23]:
add_predict=pd.DataFrame(predicted,columns=['Credit_Product'],index=Missing_Test.index)

In [24]:
add_predict

          Credit_Product
ID
ETQCZFEJ               0
UJ2NJKKL               0
ABPMK4WU               0
MTEIXMB9               0
6WX9JDVK               0
...                  ...
WVJFPREY               1
WIZBXYQZ               1
MARTXU7T               0
KSCFGXV3               1
BPAWWXZN               1

[29325 rows x 1 columns]

In [25]:
merged=Missing_Test.merge(add_predict,left_on='ID',right_on='ID',how='inner')

In [26]:
merged

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Avg_Account_Balance,Is_Active,Credit_Product
ID,,,,,,,,,
ETQCZFEJ,1,62,32,1,2,20,1056750,1,0
UJ2NJKKL,1,33,18,3,1,69,517063,1,0
ABPMK4WU,0,32,29,2,3,15,1072850,1,0
MTEIXMB9,0,41,18,3,2,62,962383,0,0
6WX9JDVK,0,63,4,1,2,103,1249319,1,0
...,...,...,...,...,...,...,...,...,...
WVJFPREY,0,51,31,0,2,99,552992,0,1
WIZBXYQZ,0,50,27,3,1,92,1385124,0,1
MARTXU7T,1,53,4,1,1,19,1141825,1,0
KSCFGXV3,0,46,18,3,1,19,993195,0,1
BPAWWXZN,1,51,34,3,2,109,1925586,0,1

In [27]:
Full_Data=pd.concat([Complete_Train,merged])

In [28]:
Full_Data

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
ID,,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,0,1045696,0
IDD62UNG,0,30,27,2,0,32,0,581988,0
HD3DSEMC,0,56,18,3,2,26,0,1484315,1
BF3NC7KV,1,34,20,2,0,19,0,470454,0
TEASRWXV,0,30,32,2,0,33,0,886787,0
...,...,...,...,...,...,...,...,...,...
WVJFPREY,0,51,31,0,2,99,1,552992,0
WIZBXYQZ,0,50,27,3,1,92,1,1385124,0
MARTXU7T,1,53,4,1,1,19,0,1141825,1
KSCFGXV3,0,46,18,3,1,19,1,993195,0
BPAWWXZN,1,51,34,3,2,109,1,1925586,0

In [30]:
Full_merged=Full_Data.merge(Target,left_on='ID',right_on='ID',how='inner')

In [31]:
Full_merged

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active,Is_Lead
ID,,,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,0,1045696,0,0
IDD62UNG,0,30,27,2,0,32,0,581988,0,0
HD3DSEMC,0,56,18,3,2,26,0,1484315,1,0
BF3NC7KV,1,34,20,2,0,19,0,470454,0,0
TEASRWXV,0,30,32,2,0,33,0,886787,0,0
...,...,...,...,...,...,...,...,...,...,...
WVJFPREY,0,51,31,0,2,99,1,552992,0,1
WIZBXYQZ,0,50,27,3,1,92,1,1385124,0,1
MARTXU7T,1,53,4,1,1,19,0,1141825,1,1
KSCFGXV3,0,46,18,3,1,19,1,993195,0,1
BPAWWXZN,1,51,34,3,2,109,1,1925586,0,0

In [32]:
X=Full_merged.drop(['Is_Lead'],axis=1)
X

,Gender,Age,Region_Code,Occupation,Channel_Code,Vintage,Credit_Product,Avg_Account_Balance,Is_Active
ID,,,,,,,,,
NNVBBKZB,0,73,18,1,2,43,0,1045696,0
IDD62UNG,0,30,27,2,0,32,0,581988,0
HD3DSEMC,0,56,18,3,2,26,0,1484315,1
BF3NC7KV,1,34,20,2,0,19,0,470454,0
TEASRWXV,0,30,32,2,0,33,0,886787,0
...,...,...,...,...,...,...,...,...,...
WVJFPREY,0,51,31,0,2,99,1,552992,0
WIZBXYQZ,0,50,27,3,1,92,1,1385124,0
MARTXU7T,1,53,4,1,1,19,0,1141825,1
KSCFGXV3,0,46,18,3,1,19,1,993195,0
BPAWWXZN,1,51,34,3,2,109,1,1925586,0

In [33]:
y=Full_merged['Is_Lead']
y

ID
NNVBBKZB    0
IDD62UNG    0
HD3DSEMC    0
BF3NC7KV    0
TEASRWXV    0
           ..
WVJFPREY    1
WIZBXYQZ    1
MARTXU7T    1
KSCFGXV3    1
BPAWWXZN    0
Name: Is_Lead, Length: 245725, dtype: int64

In [34]:
np.random.seed(54)
X_train,X_test,y_train,y_test=train_test_split(X,
                                              y,
                                              test_size=0.2)

In [35]:
model_scores=fit_and_score(models=models,
                          X_train=X_train,
                          X_test=X_test,
                          y_train=y_train,
                          y_test=y_test)
model_scores

{'Logistic Regression': 0.7627022077525689,
 'KNN': 0.7306948824905891,
 'Random Forest': 0.7819513683996338}